.overlay {
    position: absolute;
}

.overlay circle {

}

svg {
    position: absolute;
    display: inline-block;
}

.court {
    width: 58%;
    float:left;
    border: 1px solid #aaa;
    margin-left:1%;
}

.courtPNG {
    display: inline-block;
    width: 100%;

}

.frame {
    display: block;
    width: 100%;
    min-width: 1230px; 
    height: 1000px;
    border: 1px solid #aaa;
}

.team {
    display: inline-block;
    width:20%;
    /*Keeping height for display purposes. Inline-Block will eliminate need for this
    once it's populated with visualizations */
    height:450px;
    border: 1px solid #aaa;
}
.team svg {
    border: 1px solid rgb(255, 0, 0);
}
.teamName {
    text-anchor: middle;
    font-size: 30px;
}
.activeRoster {
    transform: rotate(5deg)
}
#vtm {
    float:left;
}
#htm {
    float:right;
}
#htm image {
}
#htmPlayers {
}


.header {
    height: 50px;
}
.header svg {
    height:100%;
    width: 100%;
}
#headerText {
    text-anchor: middle;
    font-size: 35px;
}
.eventSlider {
    width:58%;
    height:20px;
    margin:auto;
    display: block;
    border:1px solid rgb(0, 255, 85);
    text-align: center;
}

.section {
    position: relative;
    display: inline-block;
    width: 100%;
    border:2px solid #aaa;
    background-color: #eeeeee;
}

.centered {
    text-align: center;
}

.padded {
    margin-top: 20px;
}
.summaryChart {
    width: 220px;
    height: 150px;
    border: 1px solid rgb(117, 0, 0);
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.x-axis {
    transform: translate(30px,130px);
}

.y-axis {
    transform: translate(30px,8px);
}