.overlay {
    position: absolute;
}

.overlay circle {

}

svg {
    position: absolute;
    display: inline-block;
}

#court {
    width: 650px;
}

.court {
    display: inline-block;
    width: 100%;
}